<div class="box">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


 <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :image %><br />
  <%= f.file_field :image %></div>

  <br>

   <div><%= f.label :bio %><br />
  <%= f.text_field :bio %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div class="excludes_button_color">
  <div><%= f.submit "Sign up" %></div>
  </div>
<% end %>

<br>

<%= render "devise/shared/links" %>

</div>

<div id="youtube">
 <iframe frameborder="0" height="100%" width="100%"
    src="https://www.youtube.com/embed/kXzwOKyGlSA?rel=0&autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&playlist=V3o-JR5IAMxM" allow-fullscreen>
  </iframe>
</div>

