<div class="box">

<h2>Log in</h2>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="excludes_button_color">
  <div><%= f.submit "Log in" %></div>
  </div>
<% end %>

<br>

<div class="box2">
<%= render "devise/shared/links" %>
</div>

</div>

<div id="youtube">
 <iframe frameborder="0" height="100%" width="100%"
    src="https://www.youtube.com/embed/kXzwOKyGlSA?rel=0&autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&playlist=V3o-JR5IAMxM" allow-fullscreen>
  </iframe>
</div>



  <!--     <div id="videocontainer">
        <div id="controls">
          <button id="player-play" onclick="playerPlay(); return false;">Play</button>
          <button id="player-mute" onclick="playerMute(); return false;">Unmute</button>
        </div>
        <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe id="player" frameborder="0" allowfullscreen="1" title="YouTube video player" src="https://www.youtube.com/embed/shD_6aYIiBk?autoplay=1&amp;controls=0&amp;loop=1&amp;modestbranding=1&amp;showinfo=0&amp;wmode=opaque&amp;playlist=1s_tkLl3VlU&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fwww.weloveping.com"></iframe></div>
      </div>
 -->


