<div id="feed">
  <!-- <div> -->


  <% current_user_and_following = userAndFollowing(current_user) %>
  <% @original_post_ids = getOriginalPostsIds(current_user_and_following)%>
  <% @repost_ids = getRepostIds(current_user_and_following)%>
  <% current_user_reposts = findReposts(current_user)%>

  <% current_user_and_following.each do |user| %>
    <% @posts.each do |post_record| %>
      <% if post_record.user_id == user.id%>
      <% post = includingRetweets(post_record, @original_post_ids)%>
      <% @user_score = user_score(user)%>

        <% if post %>
          <div class="tweet">
            <div class="name_td"><%= link_to user.name, member_path(user), :class=>"user_name"%><%= ifRP(post_record, post)%><%=rpFrom(post_record, post) %></div>

            <div id="feed_content_div"><%= post.content %></div>
            <div id="feed_smiley_div"><img class="smiley" src=<%= sentimentIcon(post)%>></div>
            <div id="feed_image_div"><img id="post_image" src="<%= getImage(post.user) %>" /></div>
            <div class="score_icon"><img class="user_status" src=<%= scoreIcon(user)%>></div>
            <div class="user_score"><%= @user_score%></div>
            


            <!-- MOVE  TO HELPERS -->
            <!-- Getting votes made by current user on this post -->
            <%vote = post.votes.select do |vote| %>
              <% if vote.user_id == current_user.id %>  
              <% vote %>
              <% end %>
            <% end %>
            <!-- Checking if one vote or two made and what type of vote if only one made. Adding classes depending on votes already made -->
            <% if vote.length ==1 %>
              <% sentiment = vote.first.sentiment %>
              <% if sentiment == true %>
                <% starting_liked_status = "liked_status"%>
                <% starting_hated_status = "unchecked_status"%>
              <% else sentiment == false %>
              <% starting_liked_status = "unchecked_status"%>
              <% starting_hated_status = "hated_status"%>
            <% end %>
            <% elsif vote.length ==2%>
              <% starting_liked_status = "liked_status"%>
              <% starting_hated_status = "hated_status"%>
            <% else %>
              <% starting_liked_status = "unchecked_status"%>
              <% starting_hated_status = "unchecked_status"%>
            <% end %>
            <!--Checking if post has been retweeted by you already -->
            <% if current_user_reposts.include?(post_record.id) %>
              <% starting_repost_status = "reposted"%>
            <% else %>
              <% starting_repost_status = "not_reposted"%>
            <% end %>
            
            <div><button id="feed_like_button" class = "<%= starting_liked_status %> like"><span class="glyphicon glyphicon-thumbs-up"></span></button></div>
            <div class="likes"><%= numberOfLikes(post) %></div>
            <div><button id="feed_hate_button" class = "<%= starting_hated_status %> hate"><span class="glyphicon glyphicon-thumbs-down"></span></button></button></div>
            <div class="hates"><%= numberOfHates(post) %></div>
            
            <div class="id" style="visibility:hidden;"><%= post.id %></div>
            <div><button class = "<%= starting_repost_status %> repost">Repost</button></div>
            <div class="reposts"><%= numReposts(post)%></div>
                   
            <div><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <!-- </table> -->
</div>