<div id="sidebar_profile">
  <ul id = "sidebar_list" >
    <%# binding.pry %>
    <li><img id="sidebar_image" src="<%= getImage(current_user) %>" />
    </li>
    <li><%= current_user.name %></li>
    <li><%= user_score(current_user)%></li>
    <li class="score_icon"><img class="smiley" src=<%= scoreIcon(current_user)%>></li>
    <li><%= current_user.bio %></li>
  </ul>
</div>
