
<h1>CHEERUPS FEED</h1>

<%= search_form_for @p do |p| %>
  <%= p.label :content_cont %>
  <%= p.search_field :content_cont %>
  <%= p.submit %>
<% end %>


<table>
  <tr>
    
    <th>Content</th>
    <th>Author</th>
    <th>Likes</th>
    <th>Hates</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @posts.each do |post| %>
  <% likes = post.votes.all.map do |vote| %>
  <% vote.sentiment if vote.sentiment == true %>
  <% end %>
  <% likes.delete(nil)%>
  <% hates = post.votes.all.map do |vote| %>
  <% vote.sentiment if vote.sentiment == false %>
  <% end %>
  <% hates.delete(nil)%>


  <% current_user.users.each do |user| %>
    <% if post.user_id == user.id%>
      <tr>
        <td><%= post.content %></td>
        <td><%= post.user.name %></td>
        <td><%= likes.length %></td>
        <td><%= hates.length %></td>
        <td class="id" style="visibility:hidden;"><%= post.id %></td>
        
        <!-- Getting votres made by current user on this post -->
        <%vote = post.votes.select do |vote| %>
          <% if vote.user_id == current_user.id %>  
          <% vote %>
          <% end %>
        <% end %>
<!--         Checking if one vote or two made and what type of vote if only one made. Adding classes depending on votes already made -->
        <% if vote.length ==1 %>
          <% sentiment = vote.first.sentiment %>
          <% if sentiment == true %>
            <% starting_liked_status = "liked_status"%>
            <% starting_hated_status = "unchecked_status"%>
          <% else sentiment == false %>
            <% starting_liked_status = "unchecked_status"%>
            <% starting_hated_status = "hated_status"%>
          <% end %>
        <% elsif vote.length ==2%>
          <% starting_liked_status = "liked_status"%>
          <% starting_hated_status = "hated_status"%>
        <% end %>

        <td><button class = "<%= starting_liked_status %> like">Like</button></td>
        <td><button class = "<%= starting_hated_status %> hate">Hate</button></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
