
<h1>CHEERUPS FEED</h1>


<%= search_form_for @q do |f| %>
  <p>
    <%= f.label :content_cont %>
    <%= f.text_field :content_cont %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<table>
  <tr>
    
    <th>Content</th>
    <th>Author</th>
    <th><span class="glyphicon glyphicon-thumbs-up"></span></th>
    <th><span class="glyphicon glyphicon-thumbs-down"></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<!-- MOVE TO HELPER -->
<% current_user_and_followers = User.all.select do |user| %>
  <% is_a_follower = user.users.select do |follower| %>
    <% if follower.id == current_user.id %>
      <% follower %>
    <% end %>
  <% end %>
  <% if is_a_follower.length > 0 %>
  <% user %>
  <% end %>
<% end %>
<!-- MOVE TO HELPER -->



<% @posts.each do |post_record| %>
  <!-- MOVE TO HELPER -->
  <% if post_record.repost_id %>
    <% post = Post.find(post_record.repost_id)%>
  <% else %>
    <% post = Post.find(post_record.id)%>
  <% end %>
  <!-- MOVE TO HELPER -->


  <!-- MOVE TO HELPER -->
  <% likes = post.votes.all.map do |vote| %>
  <% vote.sentiment if vote.sentiment == true %>
  <% end %>
  <% likes.delete(nil)%>
  <% hates = post.votes.all.map do |vote| %>
  <% vote.sentiment if vote.sentiment == false %>
  <% end %>
  <% hates.delete(nil)%>
  <!-- MOVE TO HELPER -->


  <% current_user_and_followers.each do |user| %>

    <% if post.user_id == user.id%>
      
      <tr>
        <td><%= post.content %></td>
        <td><%= link_to post.user.name, member_path(user) %></td>
        <td class="likes"><%= likes.length %></td>
        <td class="hates"><%= hates.length %></td>
        <td class="id" style="visibility:hidden;"><%= post.id %></td>

        <!-- MOVE ALL OF THIS METHOD TO HELPERS -->
        <!-- Getting votes made by current user on this post -->
        <%vote = post.votes.select do |vote| %>
          <% if vote.user_id == current_user.id %>  
          <% vote %>
          <% end %>
        <% end %>
        <!-- Checking if one vote or two made and what type of vote if only one made. Adding classes depending on votes already made -->
        <% if vote.length ==1 %>
          <% sentiment = vote.first.sentiment %>
          <% if sentiment == true %>
            <% starting_liked_status = "liked_status"%>
            <% starting_hated_status = "unchecked_status"%>
          <% else sentiment == false %>
          <% starting_liked_status = "unchecked_status"%>
          <% starting_hated_status = "hated_status"%>
        <% end %>
        <% elsif vote.length ==2%>
          <% starting_liked_status = "liked_status"%>
          <% starting_hated_status = "hated_status"%>
        <% else %>
          <% starting_liked_status = "unchecked_status"%>
          <% starting_hated_status = "unchecked_status"%>
        <% end %>


        
        <td><button class = "<%= starting_liked_status %> like"><span class="glyphicon glyphicon-thumbs-up"></span></button></td>
        <td><button class = "<%= starting_hated_status %> hate"><span class="glyphicon glyphicon-thumbs-down"></span></button></button></td>
        <td><button class = "repost">Repost</button></td>
        
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
</table>
<br />

<%= link_to 'New Post', new_post_path %>
