<h1>Listing votes</h1>

<div>
  <div>
    <div>Sentiment</div>
    <div></div>
    <div></div>
    <div></div>
  </div>

<% @votes.each do |vote| %>
  <div>
    <div><%= vote.sentiment %></div>
    <div><%= link_to 'Show', vote %></div>
    <div><%= link_to 'Edit', edit_vote_path(vote) %></div>
    <div><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>
</table>

<br />

<%= link_to 'New Vote', new_vote_path %>
