<div class="profile_feed">
  <% @user.posts.each do |post_record| %>
    <div class="profile_post">  
      <% if post_record.repost_id %>
        <% post = Post.find(post_record.repost_id)%>
      <% else %>
        <% post = Post.find(post_record.id)%>
      <% end %>

      <div class="post_first_col">
        <% if post_record.repost_id %>
          <div id="user_name">(RT)<%= link_to post.user.name, member_path(post.user) %>
          </div>
        <% else %>
          <div id="user_name"><%= link_to @user.name, member_path(@user) %>
          </div>  
        <% end %>
      </div>
      <div class="post_second_col">
        <div class="feed_content_div"><%= post.content %>
        </div>
        
        <% votes = currentUserVotes(post)%>

        <!-- Checking if one vote or two made and what type of vote if only one made. Adding classes depending on votes already made -->
        <!-- MOVE TO HELPER -->
        <% if votes.length ==1 %>
          <% sentiment = votes.first.sentiment %>
          <% if sentiment == true %>
            <% starting_liked_status = "liked_status"%>
            <% starting_hated_status = "unchecked_status"%>
          <% else sentiment == false %>
          <% starting_liked_status = "unchecked_status"%>
          <% starting_hated_status = "hated_status"%>
          <% end %>
        <% elsif votes.length ==2%>
          <% starting_liked_status = "liked_status"%>
          <% starting_hated_status = "hated_status"%>
        <% else %>
          <% starting_liked_status = "unchecked_status"%>
          <% starting_hated_status = "unchecked_status"%>
        <% end %>

        <!-- MOVE TO HELPER -->
        <div class="feed_like_div">
          <button id="feed_like_button" class = "<%= starting_liked_status %> like"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        </div>
        <div class="likes"><%= numberOfLikes(post) %>
        </div>
        <div class="feed_hate_div">
          <button id="feed_hate_button" class = "<%= starting_hated_status %> hate"><span class="glyphicon glyphicon-thumbs-down"></span></button></button>
        </div>
        <div class="hates"><%= numberOfHates(post) %></div>
        <div class="id" style="visibility:hidden;">
          <%= post.id %>
        </div></div><div class="post_third_col">
          <div id="feed_smiley_div"><img class="smiley" src=<%= sentimentIcon(post)%>>
          </div>        
          <div class="edit_post"><%= link_to 'Show', post %></div>
          <div class="edit_post"><%= link_to 'Edit', edit_post_path(post) %></div>
          <div class="edit_post"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>




        
    </div>    
  <% end %>
</div>