<h1>All users</h1>

   <% @users.each do |user| %>
    <%= link_to user.name, user %><br>
      <% if user.profile_picture == nil %>
          <img id="prof_pic" src="<%= user.image %>" />
        <% else %>
          <img id="prof_pic" src="<%= user.profile_picture %>" />
      <% end%>
    <%= user.bio %><br> 
     <br>
  <% end %>
<br>

</p>
<b>Search for users:</b><%= search_form_for @q do |f| %>
  <p>
    <%= f.text_field :name_cont %>
  </p>
  <p>
    <%= f.submit %>
  </p>  
<% end %>

<p><a href="/members/">Return to ALL USERS page</a></p>