<h1>All users</h1>


<div id="user_search_box">
  <b>Search for users:</b><%= search_form_for @q do |f| %>
      <%= f.text_field :name_cont %>
      <%= f.submit %>

  <% end %>
</div>

<% @users.each do |user| %>
  <div class="member_listing">
    <div class="member_listing_name"><%= link_to user.name, user %></div>
    <% if user.profile_picture==nil %>
      <div class="memlistimage_div"><img class="member_listing_image" src="<%= user.image %>" /></div>
    <% else %>
      <div class="memlistimage_div"><img class="member_listing_image" src="<%= user.profile_picture %>" /></div>
    <% end%>
    <div class="member_listing_bio"><%= user.bio %></div> 
   </div>
<% end %>
