<h1>Members#index</h1>
<p>Find me in app/views/members/index.html.erb</p>
<p>
  <b>Content:</b>
   <% @users.each do |user| %>
    <%= user.name %>
  <% end %>
</p>
<%= search_form_for @q do |f| %>
  <p>
    <%= f.label :name_cont %>
    <%= f.text_field :name_cont %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>