<%= render "members/sidebar"%>
<%= render "members/membersfeed"%>
<p id="notice"><%= notice %></p>



<br />

<div class="footer">
<footer>

<%= link_to 'Edit User', edit_user_registration_path %> |
<%= link_to 'Back', members_path %>
</footer>
</div>
