<%= render "members/sidebar"%>
<%= render "members/membersfeed"%>
<p id="notice"><%= notice %></p>



<br />
<div class="footer">
<footer>
<%= link_to 'New Post', new_post_path %>
<%= link_to 'Edit', edit_member_path(@user) %> |
<%= link_to 'Back', members_path %>
</footer>
</div>