
<p id="notice"><%= notice %></p>

<h1><%= @user.name %>'s Profile</h1>
<div class="left-side">
<img id="prof_pic" src="<%= getImage(@user) %>" />
</div>
<table class="list_own_posts">

<br/>
<% if @user.id == current_user.id %>
<% else %>
  <% if @following %>
    <button class="follow following">Following</button>
  <% else %>
    <button class="follow not_following">Follow</button>
  <% end %>
<% end %>
  
<div class="following_user" style="display: none;"><%= @user.id %></div>
<div class="current_user"><% current_user.id %></div>
<b>Followers:</b><div class="follower_count"><%= @user.users.length %></div>
<p>
  <% @user.name %>
</p>
<p>
  <% if @user.bio ==nil %>
     
  <% else %>
    <b>About Me:</b>
    <%= @user.bio %>
  <%end %>
</p>

<% if @user.users.length == 0 %>

  <% else %>
    <div class="followers"><b>Followers:</b>
     <% @user.users.each do |user| %>
      <%= user.name %>
     <% end %>
     </div>
<% end %>




<b>Following:</b>
 <% User.all.each do |user| %>
  <% if user.users.include? @user %>
    <%= user.name %>
  <% else %>
      
  <% end %>
<% end %>

<br>
   

<% following = User.all.select do |user| %>
  <% is_following = user.users.select do |following| %>
    <% if following.id == current_user.id %>
      <% following %>
    <% end %>
  <% end %>
  <% if is_following.length > 0 %>
  <% user %>
  <% end %>
<% end %>
<% current_user_and_following = following << current_user %>


<tr>
  
  <th></th>
  <th></th>
  <th><span class="glyphicon glyphicon-thumbs-up"></span></th>
  <th><span class="glyphicon glyphicon-thumbs-down"></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
</tr>


  <% @user.posts.each do |post_record| %>
    

    <!-- MOVE TO HELPER -->
    <% if post_record.repost_id %>
      <% post = Post.find(post_record.repost_id)%>
    <% else %>
      <% post = Post.find(post_record.id)%>
    <% end %>
    <!-- MOVE TO HELPER -->

    
    <!-- MOVE TO HELPER -->
    <% likes = post.votes.all.map do |vote| %>
      <% vote.sentiment if vote.sentiment == true %>
    <% end %>
    <% likes.delete(nil)%>
    <% hates = post.votes.all.map do |vote| %>
      <% vote.sentiment if vote.sentiment == false %>
    <% end %>
    <% hates.delete(nil)%>
    <!-- MOVE TO HELPER -->


    <tr>
      <td><%= post.content %><tr></td>
      <% if post_record.repost_id %>
        <td>(RT)<%= link_to post.user.name, member_path(post.user) %></td>
      <% else %>
        <td></td>
      <% end %>
      <td class="likes"><%= likes.length %></td>
      <td class="hates"><%= hates.length %></td>
      <td class="id" style="visibility:hidden;"><%= post.id %></td>



      <!-- MOVE ALL OF THIS METHOD TO HELPERS -->
      <!-- Getting votes made by current user on this post -->
      <%vote = post.votes.select do |vote| %>
        <% if vote.user_id == current_user.id %>  
        <% vote %>
        <% end %>
      <% end %>
      <!-- Checking if one vote or two made and what type of vote if only one made. Adding classes depending on votes already made -->
      <% if vote.length ==1 %>
        <% sentiment = vote.first.sentiment %>
        <% if sentiment == true %>
          <% starting_liked_status = "liked_status"%>
          <% starting_hated_status = "unchecked_status"%>
        <% else sentiment == false %>
        <% starting_liked_status = "unchecked_status"%>
        <% starting_hated_status = "hated_status"%>
        <% end %>
      <% elsif vote.length ==2%>
        <% starting_liked_status = "liked_status"%>
        <% starting_hated_status = "hated_status"%>
      <% else %>
        <% starting_liked_status = "unchecked_status"%>
        <% starting_hated_status = "unchecked_status"%>
      <% end %>
      <td><button class = "<%= starting_liked_status %> like"><span class="glyphicon glyphicon-thumbs-up"></span></button></td>
      <td><button class = "<%= starting_hated_status %> hate"><span class="glyphicon glyphicon-thumbs-down"></span></button></td>

      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>    
  <% end %>
</table>
<br />

  <%= link_to 'New Post', new_post_path %>


<%= link_to 'Edit', edit_member_path(@user) %> |
<%= link_to 'Back', members_path %>

